#pointsTableSection {
  padding: 10rem 0 0;
  background-image: url(../../../../assets/images/pointstablebg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}
@media (max-width: 767px) {
  #pointsTableSection {
    padding: 7rem 1rem 0;
  }
}
#pointsTableSection::before {
  content: none;
  background-image: url(../../../../assets/images/deviderLine.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -6%;
  top: 14%;
  pointer-events: none;
  transform: translateY(-50%);
}
#pointsTableSection .mianTabsWrap .sectionWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  #pointsTableSection .mianTabsWrap .sectionWrap {
    flex-direction: column;
    gap: 3rem;
  }
}
#pointsTableSection .mianTabsWrap .sectionWrap .sectionTitle {
  color: #fff;
}
#pointsTableSection .mianTabsWrap .tab-content {
  padding: 6rem 0;
  height: 70rem;
}
@media (max-width: 767px) {
  #pointsTableSection .mianTabsWrap .tab-content {
    padding: 3rem 0;
    height: 60rem;
  }
}
#pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider {
  position: relative;
}
#pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-arrow {
  width: 2.6rem;
  height: 2.6rem;
}
#pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-arrow.slick-prev {
  left: 40%;
  top: unset;
  bottom: -65px;
}
@media (max-width: 1024px) {
  #pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-arrow.slick-prev {
    left: 45%;
  }
}
@media (max-width: 767px) {
  #pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-arrow.slick-prev {
    left: 40%;
  }
}
#pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-arrow.slick-prev.slick-disabled {
  opacity: 0.75;
}
#pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-arrow.slick-prev:before {
  font-size: 2.6rem;
  opacity: 1;
  color: #fff;
}
#pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-arrow.slick-next {
  left: 55%;
  top: unset;
  bottom: -65px;
}
@media (max-width: 1024px) {
  #pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-arrow.slick-next {
    left: 50%;
  }
}
@media (max-width: 767px) {
  #pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-arrow.slick-next {
    left: 55%;
  }
}
#pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-arrow.slick-next.slick-disabled {
  opacity: 0.75;
}
#pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-arrow.slick-next:before {
  font-size: 2.6rem;
  opacity: 1;
  color: #fff;
}
#pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-list .slick-track .slick-slide {
  padding: 0 1rem;
}
@media (max-width: 767px) {
  #pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-list .slick-track .slick-slide {
    padding: 0;
  }
}
#pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-dots {
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 0.2rem;
}
#pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-dots li {
  width: 3.5rem;
  height: 0.5rem;
  background-color: #9e9999;
  border-radius: 1rem;
}
#pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-dots li.slick-active {
  background-color: #fff;
}
#pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-dots li button {
  width: 3.5rem;
  height: 0.5rem;
  padding: 0;
  border-radius: 1rem;
}
#pointsTableSection .mianTabsWrap .tab-content .tableSliderWrap .slick-slider .slick-dots li button::before {
  content: none;
}
#pointsTableSection .mianTabsWrap .tab-content .tabBtnWrap {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}
#pointsTableSection .mianTabsWrap .tab-content .tabBtnWrap .sqrBtn:hover {
  background-color: #fbe29a;
  color: #263574 !important;
}
#pointsTableSection .mianTabsWrap .tab-content .tabBtnWrap .sqrBtn:hover span svg path {
  fill: #263574;
}/*# sourceMappingURL=pointtablesection.css.map */