@import "../../../../assets/scss/media";
#pointsTableSection {
  padding: 10rem 0 0;
  background-image: url(../../../../assets/images/pointstablebg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  @include x-767-tablet {
    padding: 7rem 1rem 0;
  }
  &::before {
    content: none;
    background-image: url(../../../../assets/images/deviderLine.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -6%;
    top: 14%;
    pointer-events: none;
    transform: translateY(-50%);
  }
  //   .deviderLine {
  //     width: 100%;
  //     position: absolute;
  //     top: 10%;
  //     left: -5%;
  //     svg {
  //       width: 100%;
  //     }
  //   }
  .mianTabsWrap {
    .sectionWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include x-767-tablet {
        flex-direction: column;
        gap: 3rem;
      }
      .sectionTitle {
        color: #fff;
        // margin-top: -3rem;
      } 
      
    }
    .tab-content {
      padding: 6rem 0;
      height: 70rem;
      @include x-767-tablet{
        padding: 3rem 0;
        height: 60rem;
      }
      .tableSliderWrap {
        .slick-slider {
          position: relative;
          .slick-arrow {
            width: 2.6rem;
            height: 2.6rem;
            &.slick-prev {
              left: 40%;
              top: unset;
              bottom: -65px;
              &.slick-disabled{
                opacity: .75;
              }
              &:before {
                font-size: 2.6rem;
                opacity: 1;
                color: #fff;
              }
            }
            &.slick-next {
              left: 55%;
              top: unset;
              bottom: -65px;
              &.slick-disabled{
                opacity: .75;
              }
              &:before {
                font-size: 2.6rem;
                opacity: 1;
                color: #fff;
              }
            }
          }
          .slick-list {
            .slick-track {
              .slick-slide {
                padding: 0 1rem;
                @include x-767-tablet {
                  padding: 0;
                }
              }
            }
          }
          .slick-dots {
            position: relative;
            display: flex !important;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            gap: 0.2rem;
            li {
              width: 3.5rem;
              height: 0.5rem;
              background-color: #9e9999;
              border-radius: 1rem;
              &.slick-active {
                background-color: #fff;
              }
              button {
                width: 3.5rem;
                height: 0.5rem;
                padding: 0;
                border-radius: 1rem;
                &::before {
                  content: none;
                }
              }
            }
          }
        }
      }
      .tabBtnWrap {
        display: flex;
        justify-content: center;
        margin-top: 8rem;
        .sqrBtn {
          &:hover {
            background-color: #caf75a;
            color: #263574 !important;
            span{
              svg{
                path{
                  fill: #263574;
                }
              }
            }
          }
        }
      }
    }
  }
}
