@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import "../scss/media";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: "Exo 2";
  font-optical-sizing: auto;
  font-style: normal;
}
ul,
ol {
  padding: 0;
  margin-bottom: 0;
  li {
    list-style: none;
  }
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  padding: 0;
  margin-bottom: 0;
}
button {
  border: 0;
  background-color: transparent;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
p,
span,
strong,
b,
a,
li,
input {
  padding: 0;
  margin-bottom: 0;
}
// Container Width
@media (min-width: 576px) {
  .container {
    max-width: 670px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 882px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1095px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
.sectionTitle {
  color: #172046;
  font-size: 3rem;
  font-weight: 700;
  @include md-tablet {
    font-size: 2.6rem;
  }
  @include x-767-tablet {
    font-size: 2rem;
  }
}

.tabs {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  @include x-767-tablet {
    gap: 1rem;
  }
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
    gap: 0.6rem;
    height: 4.7rem;
    border: 0.2rem solid #fff;
    padding: 0 2rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 0.6rem;
    transform: skew(-30deg, 0deg);
    @include md-tablet {
      font-size: 1.6rem;
      margin-right: 1rem;
    }
    @include x-767-tablet {
      font-size: 1.4rem;
      margin-right: 0rem;
    }
    span {
      transform: skew(30deg, 0deg);
    }
    &.active {
      border-color: #fbe29a;
      background-color: #fbe29a;
      color: #263574;
      span {
        path {
          fill: #263574;
        }
      }
    }
    &:hover {
      border-color: #fbe29a;
      background-color: #fbe29a;
      color: #263574;
      span {
        path {
          fill: #263574;
        }
      }
    }
  }
}

.teamListSection {
  margin-top: 14rem;
  padding: 8rem 0;
  background: linear-gradient(
    90deg,
    rgb(2 10 54) 0%,
    rgb(0 56 123) 51%,
    rgb(0 0 50) 101%
  );
  @include md-tablet {
    padding: 0rem 0 4rem;
    margin-top: 18rem;
  }
  @include x-767-tablet {
    margin-top: 6rem;
  }
  .mianTabsWrap {
    .sectionWrap {
      border-bottom: 0.1rem solid #ddd;
      .sectionTitle {
        display: none;
      }
    }
    .tabs {
      margin-bottom: 3rem;
      justify-content: center;
    }
    .tab-content {
      padding-top: 3rem;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.playerspage {
  padding: 4rem 0 10rem;
  @include x-767-tablet {
    padding: 0rem 0 6rem;
  }
  .sectionTitle {
    margin: 4rem 0;
    text-transform: capitalize;
  }
}

#videoSection {
  padding: 8rem 0 10rem;
  background: #10172b;
  margin-top: 14rem;
  @include md-tablet {
    margin-top: 10rem;
  }
  @include x-767-tablet {
    margin-top: 6rem;
  }
  .sectionTitle {
    text-align: center;
    margin-bottom: 6rem;
    color: #fff;
    text-transform: uppercase;
  }
  .cardInner {
    .cardAllWrap {
      .imgWrap {
        height: 26rem;
      }
      .midBox {
        h5 {
          color: #fff;
          @supports (-webkit-line-clamp: 1) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
        }
      }
      .footBox {
        .dateBox {
          color: #fff;
        }
      }
    }
  }
  .shareBox {
    display: none;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  &.pgNotFoundSection {
    .pgNotFoundNotBox {
      height: 30vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 0.3rem;
      h3 {
        color: #000;
        font-size: 2rem;
        font-weight: 700;
        line-height: 3.6rem;
      }
    }
  }
}

#newsSection {
  padding: 8rem 1rem 10rem;
  background: #10172b;
  margin-top: 14rem;
  @include md-tablet {
    margin-top: 10rem;
  }
  @include x-767-tablet {
    margin-top: 6rem;
  }
  .sectionTitle {
    text-align: center;
    margin-bottom: 6rem;
    color: #fff;
    text-transform: uppercase;
  }
  .eventCardWrap {
    border: 0.2rem solid #fff;
  }
  &.pgNotFoundSection {
    .pgNotFoundNotBox {
      height: 30vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 0.3rem;
      h3 {
        color: #000;
        font-size: 2rem;
        font-weight: 700;
        line-height: 3.6rem;
      }
    }
  }
}

.pt8rem {
  padding-top: 3rem;
}

.Toastify__toast-body {
  font-size: 1.6rem;
}

#pageWrapSection {
  padding: 10rem 1rem;
  margin-top: 14rem;
  @include md-tablet {
    margin-top: 10rem;
  }
  @include x-767-tablet {
    margin-top: 3rem;
  }
  .sectionTitle {
    text-align: center;
    margin-bottom: 4rem;
  }
  .contentWraps {
    p {
      font-size: 1.6rem;
      color: #2d2d2d;
      line-height: 1.8;
      margin-bottom: 2.5rem;
      letter-spacing: 0.03rem;
    }
    ol {
      list-style-type: none;
      counter-reset: list;
      li {
        p {
          padding-top: 1.5rem;
          font-weight: 400;
        }
        &::before {
          counter-increment: list;
          content: counters(list, ".") ". ";
        }
        font-size: 2rem;
        color: #2d2d2d;
        line-height: 1.6;
        margin-bottom: 3rem;
        letter-spacing: 0.03rem;
        font-weight: 600;
        ul {
          li {
            list-style: lower-alpha;

            font-size: 1.6rem;
            color: #2d2d2d;
            line-height: 1.6;
            margin-bottom: 2.5rem;
            letter-spacing: 0.03rem;
            font-weight: 400;
            &::before {
              content: unset;
            }
          }
        }
        ol {
          padding-left: 2rem;
          padding-top: 1.5rem;

          li {
            font-size: 1.6rem;
            color: #2d2d2d;
            line-height: 1.6;
            margin-bottom: 2.5rem;
            letter-spacing: 0.03rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.golden-ticket-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.golden-ticket-text {
  font-weight: bold;
  font-size: 4.2rem;
  margin-bottom: 1px;
  @include x-767-tablet {
    font-size: 2rem !important;
  }
}

.ticket-text {
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
}
.ticket-info {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2rem;
  @include x-767-tablet {
    font-size: 1.6rem;
  }
}
.playerName {
  text-transform: uppercase;
  @include x-767-tablet {
    font-size: 1.4rem;
  }
}
.email-content {
  max-width: 800px;
  margin: 0 auto;
  background-color: #010c13;
  padding: 24px;
}
.city-name-title {
  font-size: 1.6rem;
  @include x-767-tablet {
    font-size: 1.4rem;
  }
}
.email-body {
  margin-bottom: 3rem;
  p {
    font-size: 1.6rem;
    line-height: 1.8;
  }
}

.innerPageMatchCenter {
  .common-results-div {
    padding: 1rem 0 2rem;
    .leag-name {
      h2 {
        display: none;
      }
    }
  }
}

.floatIcon {
  position: fixed;
  bottom: 3%;
  right: 1%;
  z-index: 9;
}

.lastLink {
  .nav-link {
    gap: 0 !important;
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
  h1 {
    display: flex;
    font-size: 18rem;
    margin: 0px;
    color: #263474;
    font-weight: 800;
    align-items: center;
    @include x-767-tablet {
      font-size: 7rem !important;
    }
    .erro-imgball {
      width: 15rem;
      height: 15rem;
      @include x-767-tablet {
        width: 6rem;
        height: 6rem;
      }
    }
  }
  p {
    font-size: 2rem;
    margin-bottom: 1rem;
    @include x-767-tablet {
      font-size: 1.6rem;
    }
  }
  a {
    color: #004085;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
  }
}

.tab-tables {
  td,
  th {
    font-size: 17px;
    font-weight: 500;
    @include x-767-tablet {
      font-size: 14px;
    }
  }
}
.tHead {
  td {
    color: #fff !important;
    font-weight: 600;
    font-size: 1.8rem;
    background-color: #182046;
    @include x-767-tablet {
      font-size: 1.4rem;
    }
  }
}

.thank-you-message {
  p {
    font-size: 2rem;
    color: #4cff4c;
    text-align: center;
    letter-spacing: 0.05rem;
    word-spacing: 0.2rem;
    margin-bottom: 0;
  }
}

.error {
  font-size: 1.4rem;
  font-weight: 500;
  color: red;
  margin-top: 0.5rem;
}

.conditionalModal {
  // display: block;
  width: 100vw;
  left: 50%;
  height: 100vh;
  top: 50%;
  transform: translate(-50%, -50%);
  &.cityZoneModalWrap {
    .modal-dialog {
      .modal-content {
        .form {
          .sqrBtn {
            width: 35%;
          }
        }
      }
    }
  }
  .modal-dialog {
    .modal-content {
      max-width: 65%;
      background: #0e132a;
      .form {
        .sqrBtn {
          width: 30%;
        }
      }
    }
  }
}
