@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Exo 2";
  font-optical-sizing: auto;
  font-style: normal;
}

ul,
ol {
  padding: 0;
  margin-bottom: 0;
}
ul li,
ol li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  padding: 0;
  margin-bottom: 0;
}

button {
  border: 0;
  background-color: transparent;
}
button:focus {
  outline: none;
  box-shadow: none;
}

p,
span,
strong,
b,
a,
li,
input {
  padding: 0;
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 670px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 882px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1095px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
.sectionTitle {
  color: #172046;
  font-size: 3rem;
  font-weight: 700;
}
@media (max-width: 834px) {
  .sectionTitle {
    font-size: 2.6rem;
  }
}
@media (max-width: 767px) {
  .sectionTitle {
    font-size: 2rem;
  }
}

.tabs {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .tabs {
    gap: 1rem;
  }
}
.tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  gap: 0.6rem;
  height: 4.7rem;
  border: 0.2rem solid #fff;
  padding: 0 2rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 0.6rem;
  transform: skew(-30deg, 0deg);
}
@media (max-width: 834px) {
  .tabs .tab {
    font-size: 1.6rem;
    margin-right: 1rem;
  }
}
@media (max-width: 767px) {
  .tabs .tab {
    font-size: 1.4rem;
    margin-right: 0rem;
  }
}
.tabs .tab span {
  transform: skew(30deg, 0deg);
}
.tabs .tab.active {
  border-color: #caf75a;
  background-color: #caf75a;
  color: #263574;
}
.tabs .tab.active span path {
  fill: #263574;
}
.tabs .tab:hover {
  border-color: #caf75a;
  background-color: #caf75a;
  color: #263574;
}
.tabs .tab:hover span path {
  fill: #263574;
}

.teamListSection {
  margin-top: 14rem;
  padding: 8rem 0;
  background: linear-gradient(90deg, rgb(2, 10, 54) 0%, rgb(0, 56, 123) 51%, rgb(0, 0, 50) 101%);
}
@media (max-width: 834px) {
  .teamListSection {
    padding: 0rem 0 4rem;
    margin-top: 10rem;
  }
}
@media (max-width: 767px) {
  .teamListSection {
    margin-top: 6rem;
  }
}
.teamListSection .mianTabsWrap .sectionWrap {
  border-bottom: 0.1rem solid #ddd;
}
.teamListSection .mianTabsWrap .sectionWrap .sectionTitle {
  display: none;
}
.teamListSection .mianTabsWrap .tabs {
  margin-bottom: 3rem;
  justify-content: center;
}
.teamListSection .mianTabsWrap .tab-content {
  padding-top: 3rem;
}
.teamListSection .mianTabsWrap .tab-content a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerspage {
  padding: 4rem 0 10rem;
}
@media (max-width: 767px) {
  .playerspage {
    padding: 0rem 0 6rem;
  }
}
.playerspage .sectionTitle {
  margin: 4rem 0;
  text-transform: capitalize;
}

#videoSection {
  padding: 8rem 0 10rem;
  background: #10172b;
  margin-top: 14rem;
}
@media (max-width: 834px) {
  #videoSection {
    margin-top: 10rem;
  }
}
@media (max-width: 767px) {
  #videoSection {
    margin-top: 6rem;
  }
}
#videoSection .sectionTitle {
  text-align: center;
  margin-bottom: 6rem;
  color: #fff;
  text-transform: uppercase;
}
#videoSection .cardInner .cardAllWrap .imgWrap {
  height: 26rem;
}
#videoSection .cardInner .cardAllWrap .midBox h5 {
  color: #fff;
}
@supports (-webkit-line-clamp: 1) {
  #videoSection .cardInner .cardAllWrap .midBox h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
#videoSection .cardInner .cardAllWrap .footBox .dateBox {
  color: #fff;
}
#videoSection .shareBox svg path {
  fill: #fff;
}
#videoSection.pgNotFoundSection .pgNotFoundNotBox {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0.3rem;
}
#videoSection.pgNotFoundSection .pgNotFoundNotBox h3 {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.6rem;
}

#newsSection {
  padding: 8rem 1rem 10rem;
  background: #10172b;
  margin-top: 14rem;
}
@media (max-width: 834px) {
  #newsSection {
    margin-top: 10rem;
  }
}
@media (max-width: 767px) {
  #newsSection {
    margin-top: 6rem;
  }
}
#newsSection .sectionTitle {
  text-align: center;
  margin-bottom: 6rem;
  color: #fff;
  text-transform: uppercase;
}
#newsSection .eventCardWrap {
  border: 0.2rem solid #fff;
}
#newsSection.pgNotFoundSection .pgNotFoundNotBox {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0.3rem;
}
#newsSection.pgNotFoundSection .pgNotFoundNotBox h3 {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.6rem;
}

.pt8rem {
  padding-top: 3rem;
}

.Toastify__toast-body {
  font-size: 1.6rem;
}

#pageWrapSection {
  padding: 10rem 1rem;
  margin-top: 14rem;
}
@media (max-width: 834px) {
  #pageWrapSection {
    margin-top: 10rem;
  }
}
@media (max-width: 767px) {
  #pageWrapSection {
    margin-top: 3rem;
  }
}
#pageWrapSection .sectionTitle {
  text-align: center;
  margin-bottom: 4rem;
}
#pageWrapSection .contentWraps p {
  font-size: 1.6rem;
  color: #2d2d2d;
  line-height: 1.8;
  margin-bottom: 2.5rem;
  letter-spacing: 0.03rem;
}
#pageWrapSection .contentWraps ol {
  list-style-type: none;
  counter-reset: list;
}
#pageWrapSection .contentWraps ol li {
  font-size: 2rem;
  color: #2d2d2d;
  line-height: 1.6;
  margin-bottom: 3rem;
  letter-spacing: 0.03rem;
  font-weight: 600;
}
#pageWrapSection .contentWraps ol li p {
  padding-top: 1.5rem;
  font-weight: 400;
}
#pageWrapSection .contentWraps ol li::before {
  counter-increment: list;
  content: counters(list, ".") ". ";
}
#pageWrapSection .contentWraps ol li ul li {
  list-style: lower-alpha;
  font-size: 1.6rem;
  color: #2d2d2d;
  line-height: 1.6;
  margin-bottom: 2.5rem;
  letter-spacing: 0.03rem;
  font-weight: 400;
}
#pageWrapSection .contentWraps ol li ul li::before {
  content: unset;
}
#pageWrapSection .contentWraps ol li ol {
  padding-left: 2rem;
  padding-top: 1.5rem;
}
#pageWrapSection .contentWraps ol li ol li {
  font-size: 1.6rem;
  color: #2d2d2d;
  line-height: 1.6;
  margin-bottom: 2.5rem;
  letter-spacing: 0.03rem;
  font-weight: 400;
}

.golden-ticket-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.golden-ticket-text {
  font-weight: bold;
  font-size: 4.2rem;
  margin-bottom: 1px;
}
@media (max-width: 767px) {
  .golden-ticket-text {
    font-size: 2rem !important;
  }
}

.ticket-text {
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
}

.ticket-info {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2rem;
}
@media (max-width: 767px) {
  .ticket-info {
    font-size: 1.6rem;
  }
}

.playerName {
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .playerName {
    font-size: 1.4rem;
  }
}

.email-content {
  max-width: 800px;
  margin: 0 auto;
  background-color: #010c13;
  padding: 24px;
}

.city-name-title {
  font-size: 1.6rem;
}
@media (max-width: 767px) {
  .city-name-title {
    font-size: 1.4rem;
  }
}

.email-body {
  margin-bottom: 3rem;
}
.email-body p {
  font-size: 1.6rem;
  line-height: 1.8;
}

.innerPageMatchCenter .common-results-div {
  padding: 1rem 0 2rem;
}
.innerPageMatchCenter .common-results-div .leag-name h2 {
  display: none;
}

.floatIcon {
  position: fixed;
  bottom: 3%;
  right: 1%;
  z-index: 9;
}

.lastLink .nav-link {
  gap: 0 !important;
}/*# sourceMappingURL=global.css.map */