@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import "../scss/media";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: "Exo 2";
  font-optical-sizing: auto;
  font-style: normal;
}
ul,
ol {
  padding: 0;
  margin-bottom: 0;
  li {
    list-style: none;
  }
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  padding: 0;
  margin-bottom: 0;
}
button {
  border: 0;
  background-color: transparent;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
p,
span,
strong,
b,
a,
li,
input {
  padding: 0;
  margin-bottom: 0;
}
// Container Width
@media (min-width: 576px) {
  .container {
    max-width: 670px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 882px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1095px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
.sectionTitle {
  color: #172046;
  font-size: 3rem;
  font-weight: 700;
  @include md-tablet {
    font-size: 2.6rem;
  }
  @include x-767-tablet {
    font-size: 2rem;
  }
}

.tabs {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  @include x-767-tablet {
    gap: 1rem;
  }
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
    gap: 0.6rem;
    height: 4.7rem;
    border: 0.2rem solid #fff;
    padding: 0 2rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 0.6rem;
    transform: skew(-30deg, 0deg);
    @include md-tablet {
      font-size: 1.6rem;
      margin-right: 1rem;
    }
    @include x-767-tablet {
      font-size: 1.4rem;
      margin-right: 0rem;
    }
    span {
      transform: skew(30deg, 0deg);
    }
    &.active {
      border-color: #fbe29a;
      background-color: #fbe29a;
      color: #263574;
      span {
        path {
          fill: #263574;
        }
      }
    }
    &:hover {
      border-color: #fbe29a;
      background-color: #fbe29a;
      color: #263574;
      span {
        path {
          fill: #263574;
        }
      }
    }
  }
}

.teamListSection {
  margin-top: 14rem;
  padding: 8rem 0;
  background: linear-gradient(
    90deg,
    rgb(2 10 54) 0%,
    rgb(0 56 123) 51%,
    rgb(0 0 50) 101%
  );
  @include md-tablet {
    padding: 6rem 0 4rem;
    margin-top: 18rem;
  }
  @include x-767-tablet {
    margin-top: 6rem;
  }
  .mianTabsWrap {
    .sectionWrap {
      border-bottom: 0.1rem solid #ddd;
      .sectionTitle {
        display: none;
      }
    }
    .tabs {
      margin-bottom: 3rem;
      justify-content: center;
    }
    .tab-content {
      padding-top: 3rem;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .card-body {
    .btnWraps {
      display: flex;
      justify-content: center;
      margin-bottom: 3rem;
    }
    .timeSlotModalWrap {
      padding: 3rem;
      background: #182046;
      border-radius: 0.8rem;
      height: fit-content;
      max-width: calc(100% - 40%);
      margin: 0 auto;
      width: 100%;
      position: absolute;
      z-index: 1001;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      &.bgGolden {
        background: #fbe29a;
      }
      @include d-desktop {
        max-width: calc(100% - 20%);
      }
      @include x-767-tablet {
        max-width: 90%;
      }
      .contentWrap {
        .mainPara {
          color: #dcdbdb;
          font-size: 1.7rem;
          font-weight: 400;
          margin-bottom: 1rem;
        }
        .sqrBtn {
          background: #172046;
        }
        .finalText {
          color: #172046;
          line-height: 1.6;
          font-size: 1.8rem;
        }
        .preFinalText {
          color: #b4b4b4;
          line-height: 1.6;
          font-size: 2rem;
        }
        .chargedMsg {
          color: #172046;
          font-size: 1.8rem;
          text-align: center;
          margin-bottom: 0;
        }
        .form-check {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin: 0;
          min-height: 1.5rem;
          margin-bottom: 1rem;
          .form-check-input {
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
          }
        }
      }
      .form-check-label {
        color: #ffffff;
        font-size: 1.6rem;
      }
      .slotWrap {
        h1 {
          text-align: center;
          color: #fff;
          font-weight: 700;
          margin-bottom: 2rem;
          &.darkText {
            color: #182046;
          }
        }
        .closeBtn {
          position: absolute;
          top: 1rem;
          right: 2rem;
          line-height: 0;
          background-image: none;
          &:focus {
            outline: none;
            box-shadow: none;
          }
          svg {
            width: 1.8rem;
            height: 1.8rem;
          }
        }
        .formWrap {
          form {
            .row {
              flex-direction: column;
              align-items: center;
              gap: 2rem;

              .btnBox {
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
    .frgtBtn {
      font-size: 16px;
      text-transform: capitalize;
      color: #fbe29a;
      cursor: pointer;
    }
    .form-label {
      font-size: 1.8rem;
      font-weight: 600;
      color: #fff;
      margin-bottom: 1rem;
      @include x-767-tablet {
        font-size: 1.4rem;
      }
    }
    .form-control {
      font-size: 1.6rem;
      color: #000;
      height: 4.5rem;
      border: 0;
      appearance: auto;
      cursor: pointer;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .backDropModal {
      height: 100%;
      width: 100%;
      background: #00000094;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
    }
  }
}

.playerspage {
  padding: 4rem 0 10rem;
  @include x-767-tablet {
    padding: 0rem 0 6rem;
  }
  .sectionTitle {
    margin: 4rem 0;
    text-transform: capitalize;
  }
}

#videoSection {
  padding: 8rem 0 10rem;
  background: #10172b;
  margin-top: 14rem;
  @include md-tablet {
    margin-top: 10rem;
  }
  @include x-767-tablet {
    margin-top: 6rem;
  }
  .sectionTitle {
    text-align: center;
    margin-bottom: 6rem;
    color: #fff;
    text-transform: uppercase;
  }
  .cardInner {
    .cardAllWrap {
      .imgWrap {
        height: 26rem;
      }
      .midBox {
        h5 {
          color: #fff;
          @supports (-webkit-line-clamp: 1) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
        }
      }
      .footBox {
        .dateBox {
          color: #fff;
        }
      }
    }
  }
  .shareBox {
    display: none;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  &.pgNotFoundSection {
    .pgNotFoundNotBox {
      height: 30vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 0.3rem;
      h3 {
        color: #000;
        font-size: 2rem;
        font-weight: 700;
        line-height: 3.6rem;
      }
    }
  }
}

#newsSection {
  padding: 8rem 1rem 10rem;
  background: #10172b;
  margin-top: 14rem;
  @include md-tablet {
    margin-top: 10rem;
  }
  @include x-767-tablet {
    margin-top: 6rem;
  }
  .sectionTitle {
    text-align: center;
    margin-bottom: 6rem;
    color: #fff;
    text-transform: uppercase;
  }
  .eventCardWrap {
    border: 0.2rem solid #fff;
  }
  &.pgNotFoundSection {
    .pgNotFoundNotBox {
      height: 30vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 0.3rem;
      h3 {
        color: #000;
        font-size: 2rem;
        font-weight: 700;
        line-height: 3.6rem;
      }
    }
  }
}

.pt8rem {
  padding-top: 3rem;
}

.Toastify__toast-body {
  font-size: 1.6rem;
}

#pageWrapSection {
  padding: 10rem 1rem;
  margin-top: 14rem;
  @include md-tablet {
    margin-top: 10rem;
  }
  @include x-767-tablet {
    margin-top: 3rem;
  }
  .sectionTitle {
    text-align: center;
    margin-bottom: 4rem;
  }
  .contentWraps {
    p {
      font-size: 1.6rem;
      color: #2d2d2d;
      line-height: 1.8;
      margin-bottom: 2.5rem;
      letter-spacing: 0.03rem;
    }
    ol {
      list-style-type: none;
      counter-reset: list;
      li {
        p {
          padding-top: 1.5rem;
          font-weight: 400;
        }
        &::before {
          counter-increment: list;
          content: counters(list, ".") ". ";
        }
        font-size: 2rem;
        color: #2d2d2d;
        line-height: 1.6;
        margin-bottom: 3rem;
        letter-spacing: 0.03rem;
        font-weight: 600;
        ul {
          li {
            list-style: lower-alpha;

            font-size: 1.6rem;
            color: #2d2d2d;
            line-height: 1.6;
            margin-bottom: 2.5rem;
            letter-spacing: 0.03rem;
            font-weight: 400;
            &::before {
              content: unset;
            }
          }
        }
        ol {
          padding-left: 2rem;
          padding-top: 1.5rem;

          li {
            font-size: 1.6rem;
            color: #2d2d2d;
            line-height: 1.6;
            margin-bottom: 2.5rem;
            letter-spacing: 0.03rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.golden-ticket-container {
  position: relative;
  text-align: center;
  color: white;
  @include x-767-tablet {
    margin: 60px 0;
  }
  .image-container {
    img {
      @include x-767-tablet {
        transform: rotate(90deg);
      }
    }
  }
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  hr {
    margin: 0px 0 10px;
    @include x-767-tablet {
      margin: 0px 0 5px;
    }
  }
}
.qrCodeWrap {
  @include x-767-tablet {
    margin-bottom: 5px;
    svg {
      width: 65px;
      height: 65px;
    }
  }
}

.golden-ticket-text {
  font-size: 3rem;
  margin-bottom: 0px;
  line-height: 1;
  font-weight: 800;
  @include x-767-tablet {
    font-size: 1.4rem !important;
    margin-bottom: 0;
  }
}

.ticket-text {
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
}
.ticket-info {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2rem;
  @include x-767-tablet {
    font-size: 1rem;
    margin: 0 0 3px;
  }
}
.playerName {
  text-transform: uppercase;
  @include x-767-tablet {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}
.email-content {
  max-width: 800px;
  margin: 0 auto;
  background-color: #010c13;
  padding: 24px;
}
.city-name-title {
  font-size: 1.6rem;
  font-weight: 600;
  @include x-767-tablet {
    font-size: 1.2rem;
  }
}
.email-body {
  margin-bottom: 3rem;
  p {
    font-size: 1.6rem;
    line-height: 1.8;
  }
}
.finalTextSlotTicket {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3;
  @include x-767-tablet {
    font-size: 1rem;
  }
}

.innerPageMatchCenter {
  .common-results-div {
    padding: 1rem 0 2rem;
    .leag-name {
      h2 {
        display: none;
      }
    }
  }
}

.floatIcon {
  position: fixed;
  bottom: 3%;
  right: 1%;
  z-index: 9;
}

.lastLink {
  .nav-link {
    gap: 0 !important;
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
  h1 {
    display: flex;
    font-size: 4rem;
    margin: 0px;
    color: #263474;
    font-weight: 800;
    align-items: center;
    margin-bottom: 1.5rem;
    @include x-767-tablet {
      font-size: 2.4rem !important;
      margin-bottom: 1rem;
    }
    .erro-imgball {
      width: 15rem;
      height: 15rem;
      @include x-767-tablet {
        width: 6rem;
        height: 6rem;
      }
    }
  }
  p {
    font-size: 2rem;
    margin-bottom: 1rem;
    @include x-767-tablet {
      font-size: 1.6rem;
    }
  }
  a {
    color: #004085;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
  }
}

.tab-tables {
  td,
  th {
    font-size: 17px;
    font-weight: 500;
    @include x-767-tablet {
      font-size: 14px;
    }
  }
}
.tHead {
  td {
    color: #fff !important;
    font-weight: 600;
    font-size: 1.8rem;
    background-color: #182046;
    @include x-767-tablet {
      font-size: 1.4rem;
    }
  }
}

.thank-you-message {
  p {
    font-size: 2rem;
    color: #4cff4c;
    text-align: center;
    letter-spacing: 0.05rem;
    word-spacing: 0.2rem;
    margin-bottom: 0;
  }
}

.error {
  font-size: 1.4rem;
  font-weight: 500;
  color: red;
  margin-top: 0.5rem;
}

.conditionalModal {
  // display: block;
  width: 100vw;
  left: 50%;
  height: 100vh;
  top: 50%;
  transform: translate(-50%, -50%);
  &.cityZoneModalWrap {
    .modal-dialog {
      .modal-content {
        .form {
          .sqrBtn {
            width: 35%;
          }
        }
      }
    }
  }
  .modal-dialog {
    .modal-content {
      max-width: 65%;
      background: #0e132a;
      .form {
        .sqrBtn {
          width: 30%;
        }
      }
    }
  }
}

.cityBox {
  background: #fbe29a;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  margin-bottom: 1.5rem;
  flex-direction: column;
  padding: 0.5rem 0;
  gap: 0;
  h4 {
    font-size: 1.8rem;
    line-height: 1.4;
    color: #000;
    font-weight: 700;
  }
}

.card {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.65rem;
}
.card-title {
  font-size: 1.8rem;
  color: #000;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0;
  @include x-767-tablet {
    font-size: 1.4rem;
  }
}
.card-text {
  font-size: 1.6rem;
  color: #848484;
  display: flex;
  flex-direction: column;
  @include x-767-tablet {
    font-size: 1.4rem;
  }
  small {
    color: green;
    font-weight: 600;
  }
}

hr.style-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.07);
}

.fw-500 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 500;
}

.mt_2 {
  margin-top: 2rem !important;
}

/*Simple radio btn input CSS*/
.custom-control-label {
  cursor: pointer;
}

.cap-opt-1 {
  display: inline-block;
  min-width: 50px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #59a9f7;
  background-color: #59a9f7;
}
/*Card Button CSS*/

.card-radio-btn .content_head {
  color: #333;
  font-size: 1.8rem;
  line-height: 30px;
  font-weight: 700;
}

.card-radio-btn .content_sub {
  color: #9e9e9e;
  font-size: 1.6rem;
  font-weight: 600;
}

.card-input-element + .card {
  width: 18rem;
  height: 12rem;
  justify-content: center;
  -webkit-box-shadow: none;
  box-shadow: none;
  // border: 2px solid transparent;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
  // box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
  @include x-767-tablet {
    width: 100%;
  }
}

.card-input-element + .card:hover {
  cursor: pointer;
}

.card-input-element:checked + .card {
  border: 2px solid #04a001;
  transition: border 0.3s;
  background: #182046;
  .card-body {
    .card-title {
      color: #fff;
    }
    .card-text {
      color: #e3e3e3;
      small {
        color: #fff;
      }
    }
  }
}

.card-input-element:checked + .card::after {
  content: "\f058";
  color: rgb(4, 160, 1);
  position: absolute;
  right: 5px;
  top: 5px;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation-name: fadeInCheckbox;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes fadeInCheckbox {
  from {
    opacity: 0;
    -webkit-transform: rotateZ(-20deg);
  }

  to {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
  }
}

@keyframes fadeInCheckbox {
  from {
    opacity: 0;
    transform: rotateZ(-20deg);
  }

  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

.timeBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  margin-bottom: 3rem;
}

.bgDisabled {
  background-color: rgb(173, 173, 173);
}

.bookedText {
  color: rgb(0, 170, 0);
}

.tables {
  width: 100%;
  .tableRow {
    height: 4rem;
    td {
      &:nth-child(1) {
        width: 30%;
        color: #182046;
        font-weight: 800;
      }
      &:nth-child(2) {
        font-size: 1.8rem;
        color: #182046;
        font-weight: 600;
      }
    }
  }
}
.typeTitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
  @include x-767-tablet {
    font-size: 1.2rem;
  }
}

.goldenMsg {
  text-align: center;
  font-size: 2rem;
  line-height: 1.8;
  width: 55%;
  margin: 0 auto;
  margin-bottom: 3rem;
  &.innerMsg {
    width: 100%;
    color: #fbe29a;
  }
}
.image-container {
  position: relative;
}
.confiteeWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
