@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Exo 2";
  font-optical-sizing: auto;
  font-style: normal;
}

ul {
  padding: 0;
  margin-bottom: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  padding: 0;
  margin-bottom: 0;
}

button {
  border: 0;
  background-color: transparent;
}
button:focus {
  outline: none;
  box-shadow: none;
}

p,
span,
strong,
b,
a,
li,
input {
  padding: 0;
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 670px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 882px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1095px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
.sectionTitle {
  color: #172046;
  font-size: 3rem;
  font-weight: 700;
}
@media (max-width: 834px) {
  .sectionTitle {
    font-size: 2.6rem;
  }
}
@media (max-width: 767px) {
  .sectionTitle {
    font-size: 2.4rem;
  }
}

.tabs {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  gap: 0.6rem;
  height: 4.7rem;
  border: 0.2rem solid #fff;
  padding: 0 2rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 0.6rem;
  transform: skew(-30deg, 0deg);
}
@media (max-width: 834px) {
  .tabs .tab {
    font-size: 1.6rem;
    margin-right: 1rem;
  }
}
@media (max-width: 767px) {
  .tabs .tab {
    font-size: 1.4rem;
    margin-right: 0rem;
  }
}
.tabs .tab span {
  transform: skew(30deg, 0deg);
}
.tabs .tab.active {
  border-color: #caf75a;
  background-color: #caf75a;
  color: #263574;
}
.tabs .tab.active span path {
  fill: #263574;
}
.tabs .tab:hover {
  border-color: #caf75a;
  background-color: #caf75a;
  color: #263574;
}
.tabs .tab:hover span path {
  fill: #263574;
}

.teamListSection {
  padding: 8rem 0;
  background: linear-gradient(90deg, rgb(2, 10, 54) 0%, rgb(0, 56, 123) 51%, rgb(0, 0, 50) 101%);
}
@media (max-width: 834px) {
  .teamListSection {
    padding: 0rem 0 4rem;
  }
}
.teamListSection .mianTabsWrap .sectionWrap {
  border-bottom: 0.1rem solid #ddd;
}
.teamListSection .mianTabsWrap .sectionWrap .sectionTitle {
  display: none;
}
.teamListSection .mianTabsWrap .tabs {
  margin-bottom: 3rem;
  justify-content: center;
}
.teamListSection .mianTabsWrap .tab-content {
  padding-top: 3rem;
}
.teamListSection .mianTabsWrap .tab-content a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerspage {
  padding: 4rem 0 10rem;
}
@media (max-width: 767px) {
  .playerspage {
    padding: 0rem 0 6rem;
  }
}
.playerspage .sectionTitle {
  margin: 4rem 0;
  text-transform: capitalize;
}/*# sourceMappingURL=global.css.map */