@import "../../assets/scss/media";
#mainTop {
  position: relative;
}
.topBarSection {
  background: #182046;
  padding: 1rem 6rem 1rem 6rem;
  @include d-desktop {
    padding: 1rem 2rem 1rem 2rem;
  }
  @include md-tablet {
    padding: 1rem 2rem 1rem 2rem;
  }
  @include x-767-tablet {
    display: none;
  }
  .topRow {
    display: flex;
    justify-content: space-between;
    .topLeftBox {
      ul {
        display: flex;
        gap: 1rem;
        li {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          &:first-child {
            border-right: 0.1rem solid rgba(255, 255, 255, 0.5803921569);
            padding-right: 1rem;
          }
          a {
            color: #d9d9d9;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
      }
    }
    .topRightBox {
      ul {
        display: flex;
        gap: 1rem;
        li {
          &.sbTitle {
            color: #caf75a;
            font-size: 1.4rem;
            font-weight: 500;
            border-right: 0.1rem solid rgba(255, 255, 255, 0.5803921569);
            padding-right: 1rem;
          }
        }
      }
    }
  }
}

#header {
  padding: 0rem 6rem 0rem 6rem;
  background-color: #263574;
  position: relative;
  @include d-desktop {
    padding: 0rem 2rem 0rem 2rem;
  }
  // @include md-tablet {
  //   padding: 1rem 2rem 1rem 8rem;
  // }
  // @include x-767-tablet {
  //   padding: 0rem 1rem 0rem 2rem;
  // }
  .myDis {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar {
    width: fit-content;
    @include md-tablet {
      width: 100%;
    }
    .navbar-brand {
      // position: absolute;
      // top: 5%;
      // left: -5%;
      // transform: translate(-50%, -50%);
      margin-right: 3rem;
      @include d-desktop {
        margin-right: 1rem;
      }
      @include md-tablet {
        position: relative;
        transform: none;
        img {
          width: 60%;
        }
      }
    }
    .navbar-toggler {
      border: 0;
      .navbar-toggler-icon {
        width: 2.8rem;
        height: 2.8rem;
        svg {
          height: 2.8rem;
        }
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .offcanvas {
      background-color: #263574;
      .offcanvas-header {
        justify-content: end;
        .btn-close {
          opacity: 1;
          width: 2.4rem;
          height: 2.4rem;
          background: none;
          svg {
            height: 1.6rem;
          }
        }
      }
      .offcanvas-body {
        .navbar-nav {
          gap: 2.5rem;
          @include d-desktop {
            gap: 1.5rem;
          }
          .nav-item {
            .nav-link {
              color: #bbb;
              font-size: 1.8rem;
              font-weight: 500;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.8rem;
              &.active {
                color: #fff;
                font-weight: 600;
              }
              &.dropdown-toggle {
                &::after {
                  content: none;
                }
                span {
                  margin-bottom: -0.2rem;
                }
                &.show {
                  span {
                    transform: rotate(180deg);
                  }
                }
              }
            }
            &.dropdown {
              .dropdown-menu {
                background: linear-gradient(90deg, #263572 0%, #182046 100%);
                padding: 1rem 1.5rem;
                &[data-bs-popper] {
                  left: -50px;
                  @include d-desktop {
                    left: -100px;
                  }
                  @include md-tablet {
                    left: -50px;
                  }
                }
                li {
                  margin-bottom: 0.5rem;
                  &:last-child {
                    margin-bottom: 0;
                  }
                  .dropdown-item {
                    color: #fff;
                    font-size: 1.8rem;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.18px;
                    &:hover {
                      background-color: transparent;
                      color: #c8c8c8;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .headerBtnsWrap {
    // position: absolute;
    // right: -6.5%;
    width: fit-content;
    // top: 50%;
    // transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    // @include d-1280-desktop {
    //   right: 10.8%;
    //   top: -22px;
    // }
    @include md-tablet {
      position: absolute;
      right: 10%;
    }
    &.deskMob{
      display: none;
      @include x-767-tablet{
        display: flex;
        flex-direction: column;
        position: relative;
        transform: none;
        right: unset;
        width: 100%;
        margin-top: 2rem;
        .regBtn{
          width: 60%;
        }
      }
    }
    &.mobDisp {
      display: flex;
      @include x-767-tablet {
        display: none;
      }
    }

    .searchbtn {
      width: 3.4rem;
      height: 3.4rem;
      border-radius: 5rem;
      border: 0.2rem solid #caf75a;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .regBtn {
      width: 12rem;
      height: 3.4rem;
      border-radius: 5rem;
      border: 0.2rem solid #caf75a;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 0;
      @include md-tablet {
        font-size: 1.4rem;
      }
    }
  }
}
