#mainTop {
  position: relative;
}

.topBarSection {
  background: #182046;
  padding: 1rem 6rem 1rem 6rem;
}
@media (max-width: 1024px) {
  .topBarSection {
    padding: 1rem 2rem 1rem 2rem;
  }
}
@media (max-width: 834px) {
  .topBarSection {
    padding: 1rem 2rem 1rem 2rem;
  }
}
@media (max-width: 767px) {
  .topBarSection {
    display: none;
  }
}
.topBarSection .topRow {
  display: flex;
  justify-content: space-between;
}
.topBarSection .topRow .topLeftBox ul {
  display: flex;
  gap: 1rem;
}
.topBarSection .topRow .topLeftBox ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.topBarSection .topRow .topLeftBox ul li:first-child {
  border-right: 0.1rem solid rgba(255, 255, 255, 0.5803921569);
  padding-right: 1rem;
}
.topBarSection .topRow .topLeftBox ul li a {
  color: #d9d9d9;
  font-size: 1.4rem;
  font-weight: 400;
}
.topBarSection .topRow .topRightBox ul {
  display: flex;
  gap: 1rem;
}
.topBarSection .topRow .topRightBox ul li.sbTitle {
  color: #caf75a;
  font-size: 1.4rem;
  font-weight: 500;
  border-right: 0.1rem solid rgba(255, 255, 255, 0.5803921569);
  padding-right: 1rem;
}

#mainTop {
  position: fixed;
  top: 0px;
  width: 100%;
  display: block;
  transition: top 0.8s;
  z-index: 999;
}

#header {
  padding: 0rem 6rem 0rem 6rem;
  background-color: #263574;
  position: relative;
}
@media (max-width: 1024px) {
  #header {
    padding: 0rem 2rem 0rem 2rem;
  }
}
#header .myDis {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .navbar {
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 834px) {
  #header .navbar {
    width: 100%;
  }
}
#header .navbar .navbar-brand {
  margin-right: 3rem;
}
@media (max-width: 1024px) {
  #header .navbar .navbar-brand {
    margin-right: 1rem;
  }
}
@media (max-width: 834px) {
  #header .navbar .navbar-brand {
    position: relative;
    transform: none;
  }
  #header .navbar .navbar-brand img {
    width: 60%;
  }
}
#header .navbar .navbar-toggler {
  border: 0;
}
#header .navbar .navbar-toggler .navbar-toggler-icon {
  width: 2.8rem;
  height: 2.8rem;
}
#header .navbar .navbar-toggler .navbar-toggler-icon svg {
  height: 2.8rem;
}
#header .navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
#header .navbar .offcanvas {
  background-color: #263574;
}
#header .navbar .offcanvas .offcanvas-header {
  justify-content: end;
}
#header .navbar .offcanvas .offcanvas-header .btn-close {
  opacity: 1;
  width: 2.4rem;
  height: 2.4rem;
  background: none;
}
#header .navbar .offcanvas .offcanvas-header .btn-close svg {
  height: 1.6rem;
}
#header .navbar .offcanvas .offcanvas-body .navbar-nav {
  gap: 2.5rem;
}
@media (max-width: 1024px) {
  #header .navbar .offcanvas .offcanvas-body .navbar-nav {
    gap: 1.5rem;
  }
}
#header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  color: #dcdbdb;
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
#header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link.active {
  color: #fff;
  font-weight: 700;
}
#header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link.dropdown-toggle::after {
  content: none;
}
#header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link.dropdown-toggle span {
  margin-bottom: -0.2rem;
}
#header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link.dropdown-toggle.show span {
  transform: rotate(180deg);
}
#header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.dropdown .dropdown-menu {
  background: linear-gradient(90deg, #263572 0%, #182046 100%);
  padding: 1rem 1.5rem;
}
#header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.dropdown .dropdown-menu[data-bs-popper] {
  left: -50px;
}
@media (max-width: 1024px) {
  #header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.dropdown .dropdown-menu[data-bs-popper] {
    left: -100px;
  }
}
@media (max-width: 834px) {
  #header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.dropdown .dropdown-menu[data-bs-popper] {
    left: -50px;
  }
}
#header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.dropdown .dropdown-menu li {
  margin-bottom: 0.5rem;
}
#header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.dropdown .dropdown-menu li:last-child {
  margin-bottom: 0;
}
#header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.dropdown .dropdown-menu li .dropdown-item {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
}
#header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.dropdown .dropdown-menu li .dropdown-item:hover {
  background-color: transparent;
  color: #c8c8c8;
}
#header .headerBtnsWrap {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 834px) {
  #header .headerBtnsWrap {
    position: absolute;
    right: 10%;
  }
}
#header .headerBtnsWrap.deskMob {
  display: none;
}
@media (max-width: 767px) {
  #header .headerBtnsWrap.deskMob {
    display: flex;
    flex-direction: column;
    position: relative;
    transform: none;
    right: unset;
    width: 100%;
    margin-top: 2rem;
  }
  #header .headerBtnsWrap.deskMob .regBtn {
    width: 60%;
  }
}
#header .headerBtnsWrap.mobDisp {
  display: flex;
}
@media (max-width: 767px) {
  #header .headerBtnsWrap.mobDisp {
    display: none;
  }
}
#header .headerBtnsWrap .searchbtn {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 5rem;
  border: 0.2rem solid #caf75a;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .headerBtnsWrap .regBtn {
  width: -moz-fit-content;
  width: fit-content;
  height: 4.5rem;
  border-radius: 5rem;
  border: 0.2rem solid #caf75a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 0;
  padding: 0.5rem 1.5rem;
}
@media (max-width: 834px) {
  #header .headerBtnsWrap .regBtn {
    font-size: 1.4rem;
  }
}
#header .headerBtnsWrap .regBtn span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
}/*# sourceMappingURL=header.css.map */