@import "../../../../assets/scss/media";

#joinIsplSection {
  padding: 8rem 0;
  @include d-desktop{
    padding: 0rem 0 5rem;
  }
  @include md-tablet{
    padding: 0rem 0 5rem;
  }
  @include x-767-tablet {
    display: none;
  }
  .joinIsplWrap {
    position: relative;
    background-image: url(../../../../assets/images/joinisplbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 47rem;
    border-radius: 0.6rem;
    overflow: hidden;
    @include d-desktop{
      height: 40rem;
    }
    @include md-tablet {
      height: 30rem;
    }
    .overlayTextBox {
      position: absolute;
      left: 3%;
      top: 50%;
      transform: translateY(-50%);
      h1 {
        color: #fff;
        font-size: 6.4rem;
        font-weight: 900;
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
        @include d-desktop{
          font-size: 4rem;
        }
        @include md-tablet {
          font-size: 2.4rem;
        }
        span {
          display: block;
          margin-top: -1rem;
          img {
            @include d-desktop{
              height: 3rem;
            }
            @include md-tablet {
              height: 2rem;
              margin-top: 1rem;
            }
          }
        }
      }
      p {
        color: #ebf0ff;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 50%;
        margin-bottom: 1.5rem;
        @include d-desktop{
          font-size: 1.6rem;
        }
        @include md-tablet {
          font-size: 1.4rem;
        }
      }
      .hashTagWrap {
        width: 50%;
        ul {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          li {
            color: #bbb;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            @include d-desktop{
              font-size: 1.4rem;
            }
            @include md-tablet {
              font-size: 1.2rem;
            }
          }
        }
      }
      .sqrBtn {
        position: absolute;
        margin-top: 3rem;
        @include md-tablet{
          margin-top: 1rem;
        }
      }
    }
  }
}
