@import "../../assets/scss/media";
#footer {
  background: linear-gradient(90deg, #263572 0%, #182046 100%);
  width: 100%;
  position: relative;
  padding: 3rem 0;
  @include md-tablet {
    padding: 3rem 1rem;
  }
  .mobGapGrid {
    @include mid-991-tab {
      row-gap: 3rem;
    }
  }
  &::before {
    content: "";
    background-image: url(../../assets/images/foo-right.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 12%;
    height: 70%;
    position: absolute;
    left: 0;
    top: 90px;
    pointer-events: none;
    @include md-tablet{
      display: none;
    }
  }
  &::after {
    content: "";
    background-image: url(../../assets/images/foo-left.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    width: 16%;
    height: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
    @include md-tablet{
      width: 30%;
    }
    @include x-767-tablet{
      width: 60%;
    }
  }
  .fooSecTitle {
    h6 {
      color: #fff;
      font-size: 2.2rem;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 2rem;
      @include x-767-tablet{
        font-size: 1.8rem;
      }
    }
    ul {
      li {
        margin-bottom: 1.25rem;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          color: #dcdbdb;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.18px;
          @include x-767-tablet{
            font-size: 1.6rem;
          }
        }
        ul {
          display: flex;
          gap: 1rem;
          margin-top: 3rem;
        }
      }
    }
  }
}

.copyWriteSection {
  background: #19191a;
  padding: 1.5rem 0;
  @include md-tablet {
    padding: 1.5rem 1rem;
  }
  .fooSpace {
    justify-content: space-between;
    .Box {
      &.right {
        text-align: right;
      }
      p {
        color: #ebf0ff;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        @include x-767-tablet{
          text-align: center;
          font-size: 1.4rem;
        }
      }
    }
  }
}
