#bannerSection {
  margin-top: 14rem;
}
#bannerSection .slick-slider .slick-list .slick-track .slick-slide {
  position: relative;
}
#bannerSection .slick-slider .slick-list .slick-track .slick-slide .sliderItme .sliderItmeImg {
  position: relative;
}
#bannerSection .slick-slider .slick-list .slick-track .slick-slide .sliderItme .sliderItmeImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(90deg, rgb(23, 32, 70) 0%, rgba(23, 32, 70, 0.29) 100%);
}
@media (max-width: 767px) {
  #bannerSection .slick-slider .slick-list .slick-track .slick-slide .sliderItme .sliderItmeImg {
    height: 20rem;
  }
  #bannerSection .slick-slider .slick-list .slick-track .slick-slide .sliderItme .sliderItmeImg img {
    height: 100%;
  }
}
#bannerSection .slick-slider .slick-list .slick-track .slick-slide .sliderItme .sliderItmeContent {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 5.5%;
  transform: translateY(-50%);
  z-index: 2;
}
#bannerSection .slick-slider .slick-list .slick-track .slick-slide .sliderItme .sliderItmeContent span {
  color: #fbe29a;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
  display: block;
}
@media (max-width: 1024px) {
  #bannerSection .slick-slider .slick-list .slick-track .slick-slide .sliderItme .sliderItmeContent span {
    font-size: 1.6rem;
  }
}
@media (max-width: 834px) {
  #bannerSection .slick-slider .slick-list .slick-track .slick-slide .sliderItme .sliderItmeContent span {
    font-size: 1.4rem;
  }
}
@media (max-width: 767px) {
  #bannerSection .slick-slider .slick-list .slick-track .slick-slide .sliderItme .sliderItmeContent span {
    font-size: 1.2rem;
  }
}
#bannerSection .slick-slider .slick-list .slick-track .slick-slide .sliderItme .sliderItmeContent h4 {
  color: #fff;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2.5rem;
}
@media (max-width: 1024px) {
  #bannerSection .slick-slider .slick-list .slick-track .slick-slide .sliderItme .sliderItmeContent h4 {
    font-size: 3.2rem;
  }
}
@media (max-width: 834px) {
  #bannerSection .slick-slider .slick-list .slick-track .slick-slide .sliderItme .sliderItmeContent h4 {
    font-size: 3rem;
  }
}
@media (max-width: 767px) {
  #bannerSection .slick-slider .slick-list .slick-track .slick-slide .sliderItme .sliderItmeContent h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}
#bannerSection .slick-slider .slick-list .slick-track .slick-slide .sliderItme .sliderItmeContent .sqrBtn:hover {
  background-color: #fbe29a;
  color: #263574 !important;
}
#bannerSection .slick-slider .slick-list .slick-track .slick-slide .sliderItme .sliderItmeContent .sqrBtn:hover span svg path {
  fill: #263574;
}
#bannerSection .slick-slider .slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  gap: 0.2rem;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  bottom: 23%;
  right: 4%;
}
@media (max-width: 767px) {
  #bannerSection .slick-slider .slick-dots {
    bottom: 10%;
  }
}
#bannerSection .slick-slider .slick-dots li {
  width: 3.5rem;
  height: 0.5rem;
  background-color: #9e9999;
  border-radius: 1rem;
}
#bannerSection .slick-slider .slick-dots li.slick-active {
  background-color: #fff;
}
#bannerSection .slick-slider .slick-dots li button {
  width: 3.5rem;
  height: 0.5rem;
  padding: 0;
  border-radius: 1rem;
}
#bannerSection .slick-slider .slick-dots li button::before {
  content: none;
}/*# sourceMappingURL=banner.css.map */